.outer {
  display: flex;
  flex-direction: column;
}
//forn container
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 750px;
}
.promptWrap {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.formTextArea {
  padding: 20px;
}
//button
.buttonWrap {
  text-align: right;
}
.button {
  width: 100px;
  padding: 10px;
  margin: 10px auto;
}
//result list
.resultContainer {
  margin: 0px auto;
  list-style: none;
  padding: 0;
}
.resultWrap {
  background: rgb(237, 236, 236);
  margin: 20px auto;
  padding: 20px;
}
